html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
 font-family: 'Oswald', system-ui, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    background-color: #ffffff;
    padding: 10px 20px;
}

.header__title {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #2c1810;
    margin: 0;
    margin-bottom: 10px;
}

.header__nav {
    padding: 20px 0;
    color: #000;
}

.header__actions {
    display: flex;
    gap: 15px 10px;
}

.header__action-btn {
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 50%;
}

.header__action-btn:hover {
    outline: 2px solid #576595;
    border-radius: 50%;
}

.header__action-btn:focus {
    outline: 2px solid #2a2954;
    border-radius: 50%;
}



.nav__list {
    list-style: none;
    padding: 0;
    gap: 30px;
}

.nav__item {
    position: relative;
    margin: 10px;
}

.nav__link {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px 10px;
}

.nav__link:hover {
    color: #7680a0;
}

.nav__link:focus {
    color: #2a2954;
}

.section__1 {
    padding: 50px;
    background: #2a2954;
    margin: 20px;
}

.section__title {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
}

.submit__button {
    background: #7680a0;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0;
}

.section__text {
    color: #ffffff;
    margin-bottom: 30px;
}

.submit__button:hover {
    background: #2a2954;
    outline: 5px solid #7680a0
}

.submit__button:focus {
    outline: 5px solid #ffffff;
}

.section__2 {
    padding: 40px 20px;
    text-align: left;
}

.section2__title {
    font-size: 2rem;
    color: #2c1810;
    margin-bottom: 30px;
}

.differences {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.difference {
    background: white;
    padding: 25px;
    border-radius: 8px;
    max-width: 250px;
}

.difference__title {
    font-size: 1rem;
    color: #2c1810;
    margin: 10px 0;
}

.difference__text {
    font-size: 0.7rem;
    color: #555;
}

.section__3 {
    padding: 40px 20px;
}

.section34__title {
    font-size: 2rem;
    color: #2c1810;
    margin-bottom: 30px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.cards__section3 {
    background: white;
    padding: 15px;
    width: 200px;
}

.section3__img {
    width: 100%;
    height: 250px;
}

.card__title {
    font-size: 1rem;
    color: #2c1810;
    margin: 10px 0;
}

.button__collection {
    background: #2a2954;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 1px;
    cursor: pointer;
    font-size: 1rem;
}

.button__collection:hover {
    background: #7680a0;
}

.button__collection:focus {
    outline: 5px solid #100e65;
}


.section__4 {
    padding: 40px 20px;
}

.section4__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 200px;
    margin: 10px;
    padding: 15px;
    background: white;
}

.section4__img {
    width: 100%;
    height: 250;
}

.card__title {
    font-size: 1rem;
    color: #2c1810;
    margin: 10px 0;
}

.section__5 {
    background: #ffffff;
    border-width: 30px 40px; 
    border-style: solid;
    border-color: #ededed;
    padding: 40px 20px;
    text-align: center;
    margin: 30px 0;
}

.section5__title {
    font-size: 2rem;
    color: #2c1810;
    margin-bottom: 10px;
}

.section5__text {
    font-size: 0.7rem;
    color: #555;
    margin-bottom: 30px;
}

.section__5 form {
    display: flex;
    justify-content: center;
    gap: 0;
}

.subscribe__input {
    flex: 1;
    padding: 12px 20px;
    border: 1px solid #ccc;
    background-color: #ededed;
    font-size: 1rem;
    min-width: 200px;
}

.subscribe__button {
    background: #2a2954;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 1px;
    cursor: pointer;
    font-size: 1rem;
}

.subscribe__button:hover {
    background: #7680a0;
}

.subscribe__button:focus {
    outline: 5px solid #2a2954;
}

.section__6 {
    padding: 40px 20px;
    background-color: white;
    margin: 30px 0;
}

.section6__title {
    font-size: 1.8rem;
    color: #2c1810;
    margin-bottom: 20px;
    font-weight: bold;
}

.section6__text {
    color: #555;
    margin-bottom: 15px;
}

.section6__img {
    max-width: 100%;
    height: auto;
    margin: 30px;
}

.touch__button {
    background: #2a2954;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 1px;
    cursor: pointer;
    font-size: 1rem;
}

.touch__button:hover {
    background: #7680a0;
}

.touch__button:focus {
    outline: 5px solid #100e65;
}

.footer {
    background-color: #2a2954;
    color: white;
    padding: 40px 20px;
    margin-top: 50px;
}

.footer__section {
    min-width: 200px;
}

.footer__title {
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer__item {
    position: relative;
    margin-bottom: 10px;
}

.footer__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 10px;
}

.footer__link:hover {
    color: #ffffff;
}

.footer__link:focus {
    color: #000;
}

.footer__text {
    color: #ffffff;
    font-size: small;
    margin: 10px;
}

.footer__button {
    padding: 20px;
    margin-top: 20px;
}

.signup__input {
    padding: 12px 12px;
    width: 200px;
    border: 1px solid #ffffff;
    border-radius: 1px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    margin-right: 5px;
}

.signup__button {
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px 25px;
    border-radius: 1px;
    cursor: pointer;
    font-size: 1rem;
}

.signup__button:hover {
    background: #7680a0
}

.signup__button:focus {
    outline: 5px solid #ffffff;
}